/* table of content
 *********************************
 */
@media only screen and (min-width: 50rem) {
  div#contents {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 17rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
div#contents p.topic-title.first {
  display: none;
}
div#contents ul {
  list-style: none;
  margin: none;
  padding: 0 0 0 0.5rem;
}
div#contents li {
  font-weight: normal;
  font-family: serif;
  margin: 0;
  padding: 0;
}
div#contents p {
  margin: none;
  padding: 0;
}
div#contents a {
  color: rgb(0, 0, 70);
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
}

div#contents > ul > li > p > a {
  font-size: 1.5rem;
}
div#contents li li a {
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-weight: normal;
}

/* body
 *********************************
 */

body {
  background: white;
  font-size: 12pt;
  max-width: 100ex;
  padding: 2ex 6ex 2ex 1ex;
  margin: auto;
}

@media only screen and (min-width: 50rem) {
  div.document {
    margin-left: 18rem;
  }
}

/*
 * links
 *********************************
 */
a {
  color: #06b;
  text-decoration: underline;
  text-decoration-color: #999;
  font-family: sans-serif;
}
a:visited {
  color: #049;
}
a:hover {
  text-decoration-color: rgba(0,0,0,0);
}
a.broken {
  text-decoration: none;
  color: rgb(120, 0, 0);
}
a.broken::after {
  content: '🗴';
}

/* headers
 *********************************
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: rgb(80, 0, 0);
}
h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: serif;
  font-variant: normal;

  margin-top: 2rem;
  padding-bottom: 0.5ex;
  margin-bottom: 2rem;

  margin-left: 2em;
  margin-right: 3em;
  padding-left: 1ex;
  border-bottom: double 0.3rem black;
}
h1.title {
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1rem 0 0.5rem 0rem;
}
h3 {
  font-size: 1.2rem;
  padding: 1rem 0 0 1rem;
}
h4 {
  font-size: 1.1rem;
  padding: 1rem 0 0 2rem;
}
h5 {
  font-size: 1.05rem;
  padding: 0 0 0 3rem;
}
h6 {
  font-size: 1rem;
  padding: 0 0 0 4rem;
}

/* Lists */

dl > dt {
  clear: both;
  float: left;
  padding-left: 1ex;
  width: 26ex;
  text-align: left;
  font-style: italic;
  font-size: 0.9rem;
  color: #050;
}
dl > dt::after {
  content: ':';
}
dl > dd {
  margin: 0 0 0 27ex;
  padding: 0 0 2ex 0;
}
dl > dd > p {
  margin: 0;
}
/* list indentation */
li > ul {
  padding-left: 1em;
}

/* standard paragraphs */

body > p {
  position: relative;
  z-index: 1;
  background: None;
}

/* header text - should come as header instead somehow I guess */
body > p:first-child {
  font-size: 80%;
  font-style: italic;
  text-align: right;
}

code {
  white-space: pre;
  background: #fff6f0;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  font-family: monospace;
  font-size: 0.8rem;
}

pre code {
  overflow-x: auto;
  display: block;
  padding: 0.5ex 0 0.5ex 2ex;
  box-shadow: 0px 1px 5px -3px inset #555;
  margin-left: 1ex;
  margin-right: 1ex;
  font-size: 0.8rem;
}

/* file reference
 *********************************
 */
.source.file {
  position: absolute;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 0.2rem;
  padding: 0.4ex 1ex 0 0;
  z-index: 0;
}
.source.file:hover {
  width: auto;
  height: auto;
  background: #e7f3ff;
  z-index: 2;
}
.source.file:before {
  width: 32px;
  height: 32px;
  content: url('free-file-icons/32px/_blank.png');
}
.source.file:before {
  content: url('free-file-icons/32px/txt.png');
}
.source.file.x-python:before {
  content: url('free-file-icons/32px/py.png');
}
.source.file.xml:before {
  content: url('free-file-icons/32px/xml.png');
}
.source.file.x-java:before {
  content: url('free-file-icons/32px/js.png');
}
